$padding: 10vw;

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: $padding;
  width: 100%;
  height: 100%;
}

.left-column {
  flex: 0 calc(40% - 5vw);
  // background: lighten(#eee, 5);
}

.right-column {
  display: flex;
  align-items: center;
  flex: 0 calc(60% - 5vw);
  justify-content: center;
  // background: lighten(#eee, 5);
}

.button-unset-selected-task {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  opacity: 0;
}
