.app {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex: 40%;
  height: 100vh;
  padding: 8em 0 0 10em;
}

.right-column {
  flex: 60%;
  height: 100vh;
  padding: 8em 0 0 4em;
}

.button-unset-selected-task {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  opacity: 0;
}
