@import url("https://fonts.googleapis.com/css?family=Caveat|Open+Sans");

html,
body {
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
