@import "../../styles/colors.scss";

form {
  width: 100%;
  color: $secondary;
  
  height: 2.5rem;
  
}

input {
  // opacity: 0.3;
  transition: opacity 0.3s;
  
  padding: 0 0.6rem 0.3rem 0;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  font-size: 1.2em;

  &::placeholder {
    color: $tirtiary;
    transition: opacity 0.2s;
  }

  &:focus + .underline {
    transform: scaleX(1);
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &::focus,
  &:hover,
  &:focus-within {
    opacity: 1;
  }
}

.underline {
  height: 1px;
  background: $tirtiary;
  transition: transform 0.3s ease-out;
  transform: scaleX(0.67);
  transform-origin: left center;
}
