form {
  width: 100%;
  color: #888;
  opacity: 0.5;
  transition: opacity 0.2s;
  
  &:hover,
  &:focus-within {
    opacity: 1;
  }
}

input {
  padding: 0.6rem 0.6rem 0.2rem;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  font-size: 1.2em;

  &::placeholder {
    color: #ccc;
    transition: opacity 0.2s;
  }

  &:focus + .underline {
    transform: scaleX(1);
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.underline {
  margin-top: 0.5em;
  height: 1px;
  background: #ccc;
  transition: transform 0.3s ease-out;
  transform: scaleX(0.75);
  transform-origin: left center;
}
