@import "../../../styles/colors.scss";

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0;
  transition: opacity 0.3s;

  .form {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .input-is-completed {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid $tirtiary;
    border-radius: 0.2rem;
    background: $primary;
    cursor: pointer;
    transition: background-color 0.2s;

    input {
      display: none;
    }
  }

  .input-description {
    flex: 100%;
    margin-left: 0.4rem;
    padding-bottom: 0.1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid $tirtiary;
    background: $primary;
    color: $secondary;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .button-notes,
  .button-delete {
    flex-shrink: 0;
    padding: 0;
    width: 1.4rem;
    height: 1.4rem;
    outline: none;
    border: 1px solid $tirtiary;
    border-radius: 0.2rem;
    background: $primary;
    color: $warning;
    text-align: center;
    font-size: 1rem;
    line-height: 0rem;
    opacity: 0;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;

    &:hover {
      background: $tirtiary;
    }
  }

  .button-delete {
    margin-left: 0.2rem;
    color: $warning;
  }

  .button-notes {
    margin-left: 0.6rem;
    color: $secondary;
  }

  &.is-completed {
    opacity: 0.2;

    .input-is-completed {
      background: $success;
    }

    .input-description {
      text-decoration: line-through;
    }
  }

  &.is-selected {
    .button-notes {
      opacity: 1;
    }

    .button-notes {
      background: $secondary;
      color: $primary;
    }
  }

  &.is-not-selected {
    .input-description {
      color: $tirtiary;
    }
  }

  &:hover {
    opacity: 1;

    .button-delete,
    .button-notes {
      opacity: 1;
    }
  }
}
