.task-item {
  padding: 0.4rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &.priority-1 {
    color: lighten(#732941, 0);
  }

  &.priority-2 {
    color: lighten(#732941, 10);
  }

  &.priority-3 {
    color: lighten(#732941, 20);
  }

  &.priority-0 {
    color: lighten(#732941, 30);
  }

  input[type="checkbox"] {
    opacity: 0;
    &:checked + input[type="text"] {
      text-decoration: line-through;
    }
  }

  input[type="text"] {
    margin-left: 0.4rem;
    color: inherit;
    border: 1px solid transparent;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 0.9rem;

    &:hover,
    &:focus {
      border-bottom: 1px solid black;
    }
  }

  button {
    opacity: 0;
    margin-left: 0.8rem;
  }

  .badge {
    margin-left: 0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;
    text-align: center;
    font-size: 0.85rem;
    border-radius: 50%;
    background: black;
    color: white;
  }

  &:hover {
    input[type="checkbox"] {
      opacity: 1;
    }

    button {
      opacity: 1;
    }
  }
}
