.task-list {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.scroll-panel {
  overflow: auto;
  height: 100%;
}

.fade {
  position: absolute;
  display: block;
  width: 100%;
  height: 2rem;
  
  &.top {
    top: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &.bottom {
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  margin-bottom: 0.5em;
  width: 100%;
  transition: all 0.3s;

  &:first-child {
    margin-top: 2rem;
  }

  &:last-child {
    margin-bottom: 2rem;
  }
}

.task-list-enter,
.task-list-leave-to {
  opacity: 0;
}

.task-list-leave-active {
  position: absolute;
  left: 0;
}