div {
// display: flex;
// flex-direction: column;
// align-items: flex-end;
text-align: right;
// border: 1px solid black;
width: 50%;
}

textarea {
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 40em;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 1em;
}